* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 78%, 2%);
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#menu {
    padding: 20px;
    text-align: center;
}

#menu h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.menu-item {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item h3 {
    color: #333;
}

.menu-item p {
    color: #666;
}

.price {
    font-weight: bold;
    color: #27ae60;
    font-size: 1.2em;
}

#booking {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#booking h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

form input, form button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #27ae60;
    color: white;
    border: none;
}

form button:hover {
    background-color: #2ecc71;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}
